<main *ngIf="(article$ | async) as article; else noArticle">
    <img class="backButton" [routerLink]="['/articles/list']" src="/assets/backarrow.png" alt="backButton">
    <h1>{{article.title | titlecase}}</h1>
    <div class="date">{{article.createdAt | date:'dd/MM/yyyy'}}</div>
    <div class="writer">{{article.user.username | titlecase}}</div>
    <div class="topic">{{article.topic.name | titlecase}}</div>
    <p class="articleContent" style="font-size: 20px;">Content: {{article.content}}</p>
    <hr/>
    <div class="commentsSection">
        <section *ngIf="comments?.length" class="commentsHistoryContainer">
            <h3 style="font-size: 20px; font-weight: 400; margin: 0.5rem 0;">Commentaires</h3>
            <article *ngFor="let comment of comments" class="commentContainer">
                <span>{{comment.user.username | titlecase}}</span>
                <div class="comment">{{comment.content}}</div>
            </article>
        </section>
        <section *ngIf="!comments?.length" class="commentsHistoryContainer">
            <h3 style="font-size: 20px; font-weight: 400; margin: 0.5rem 0;">Commentaires</h3>
        </section>
        <section class="newCommentContainer">
            <textarea placeholder="Écrivez ici votre commentaire" #commentTextarea></textarea>
            <div class="sendiconContainer"><img src="/assets/sendicon.png" (click)="onSendNewComment()" alt="send icon"></div>
        </section>
    </div>
</main>
<ng-template #noArticle>
    <main style="display:flex;">
        <img class="backButton" style="height:24px; margin-left: 1rem; flex-grow:0;" [routerLink]="['/articles/list']" src="/assets/backarrow.png" alt="backButton">
        <span style="margin-left: 1rem; margin-top:0.25rem; flex-grow:1; text-align: center;">L'article est introuvable.</span>
    </main>
</ng-template>