main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1.5rem;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
}

h1{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 24px;
    font-weight: bold;
}

.backButton{
    width: 41px;
    align-self: flex-start;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    max-width: 800px;
    align-items: center;

    input{
        height: 48px;
        width: 360px;
        padding:0 1rem;
        border: 2px solid #7763C5;
        border-radius: 6px;
        font-size: 18px;
        color:#000000;
    }

    button{
        border:none;
        background-color: #7763C5;
        color:white;
        font-weight: 700;
        height:40px;
        width: 166px;
        align-self: center;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
    }

    textarea{
        width: 100%;
        height:240px;
        resize: none;
        border-radius: 6px;
        border: 2px solid #7763C5;
    }
}