<app-header></app-header>
<main *ngIf="articles">
    <section class="articlesContainer">
        <div class="buttonSelectContainer">
            <button routerLink="/articles/new">Créer un Article</button>
            <span class="sort" (click)="switchOrder()">Trier Par <img [src]="orderAsc ? 'assets/sortarrow.png' : 'assets/sortarrowreverse.png'"/></span>
        </div>
        <div class="articlesGroup">
            <article *ngFor="let article of articles" [routerLink]="['/articles/details', article.id]">
                <h3>{{article.title | titlecase}}</h3>
                <div class="dateAuteurContainer"><span>{{article.updatedAt | date:'dd/MM/yyyy'}}</span><span>{{article.user.username | titlecase}}</span></div>
                <p>Content: {{article.content | truncate:300}}</p>
            </article>
        </div>
    </section>
</main>
<main style="text-align: center; padding-top: 4rem;" *ngIf="!articles">
    No article can be retrieved.
</main>