<app-header></app-header>
<main *ngIf="(articles$ | async) as articles">
    <section class="articlesContainer">
        <div class="buttonSelectContainer">
            <button routerLink="/articles/new">Créer un Article</button>
            <span class="sort">Trier Par <img src="assets/sortarrow.png"/></span>
        </div>
        <div class="articlesGroup">
            <article *ngFor="let article of articles"  [routerLink]="['/articles/details', article.id]">
                <h3>{{article.title}}</h3>
                <div class="dateAuteurContainer"><span>{{article.createdAt}}</span><span>{{article.user.userName}}</span></div>
                <p>Content: {{article.content | truncate:300}}</p>
            </article>
        </div>
    </section>
</main>