<main>
    <section>
        <h1>Profil Utilisateur</h1>
        <form (ngSubmit)="onCredentialsSubmit()" [formGroup]="updateCredentialsForm">
            <input type="text" placeholder="username" formControlName="username"/>
            <input type="text" placeholder="email" formControlName="email"/>
            <button type="submit">Sauvegarder</button>
        </form>
        <p role="button" class="logoutButton" (click)="logout()">Se déconnecter</p>
        <hr/>
    </section>
    <section class="subscriptionsContainer">
        <h2>Abonnements</h2>
        <div *ngIf="retrievedTopics?.length && retrievedTopics.length > 0" class="themesContainer">
            <app-topic-card *ngFor="let topic of retrievedTopics" [title]="topic.name" [subscribed]="true" [description]="topic.description" (askParentForUnsubscription)="unsubscribeFromTopic($event)" [topicId]="topic.id"></app-topic-card>
        </div>
        <div *ngIf="retrievedTopics?.length === 0 || !retrievedTopics">Aucun abonnement souscrit pour le moment.</div>
    </section>
</main>
