<app-header></app-header>
<main>
    <section>
        <h1>Profil Utilisateur</h1>
        <form (ngSubmit)="onCredentialsSubmit()" [formGroup]="updateCredentialsForm">
            <input type="text" placeholder="Username" formControlName="username"/>
            <input type="text" placeholder="email@email.fr" formControlName="email"/>
            <button type="submit">Sauvegarder</button>
        </form>
        <p role="button" class="logoutButton">se déconnecter</p>
        <hr/>
    </section>
    <section *ngIf="retrievedTopics as topics" class="subscriptionsContainer">
        <h2>Abonnements</h2>
        <div class="themesContainer">
            <app-topic-card *ngFor="let topic of topics" [title]="topic.name" [subscribed]="true" [description]="topic.description" (askParentForUnsubscription)="unsubscribe($event)" [topicId]="topic.id"></app-topic-card>
        </div>
        <div *ngIf="topics.length === 0">Aucun abonnement souscrit pour le moment.</div>
    </section>
</main>
