main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1.5rem;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
}

.backHeaderContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    row-gap: 32px;

    h1{
        text-align: center;
        margin-bottom: 2rem;
        font-size: 24px;
        font-weight: bold;
        min-width: 360px;
        text-align: left;

        @media (max-width: 530px) and (min-width: 451px) {
            margin-left: 32px;
        }
    }
    
    .backButton{
        width: 41px;
        align-self: flex-start;
        cursor: pointer;
        transform: translateY(4px);
    }
    
    .backSymContainer{
        width: 41px;
        @media (max-width: 450px) {
            display: none;
        }
    }

    @media (max-width: 450px) {
        flex-direction: column;
    }
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    max-width: 800px;
    align-items: center;
    width: 100%;

    input, select{
        height: 48px;
        width: 360px;
        padding:0 1rem;
        border: 2px solid #7763C5;
        border-radius: 6px;
        font-size: 18px;
        color:#000000;

        @media (max-width: 450px) {
            width: 100%;
        }
    }

    select{
        padding:0 0.75rem;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
    }

    button{
        border:none;
        background-color: #7763C5;
        color:white;
        font-weight: 700;
        height:40px;
        width: 166px;
        align-self: center;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
    }

    textarea{
        width: 100%;
        height:240px;
        resize: none;
        border-radius: 6px;
        border: 2px solid #7763C5;
        font-size: 18px;
        padding:0.5rem 1rem;
        font-family: "Inter", sans-serif;
    }
}