<app-header></app-header>
<main *ngIf="(topics$ | async) as topics">
    <div class="backHeaderContainer">
        <img class="backButton" routerLink="/articles/list" src="/assets/backarrow.png" alt="backButton">
        <h1>Créer un nouvel article</h1>
        <div class="backSymContainer"></div>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="articleForm">
        <select formControlName="topicId">
            <option value="" disabled selected>Selectionnez un Thème</option>
            <option *ngFor="let topic of topics" [value]="topic.id">{{ topic.name }}</option>
        </select>
        <input type="text" placeholder="Titre de l’article" formControlName="title"/>
        <textarea placeholder="Contenu de l’article" formControlName="content">
        </textarea>
        <span class="errorColor">{{errorMessage}}</span>
        <button type="submit">Créer</button>
    </form>
</main>