:host{
    display: block;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header{
    height:90px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid black;
    justify-content: space-between;

    @media (max-width: 760px) {
        padding:0 1rem;
    }

    .logo{
        height:60px;
    }

    nav{
        display: flex;
        flex-direction: row;
        height:100%;
        align-items: center;

    }

    nav ul{
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
        height:100%;
        align-items: center;

        @media (max-width: 500px) {
            display:none;
        }
    }

    a{
        color:#000;
    }

    a.active-link {
        font-weight: bold;
        color: #7763C5; /* or any other desired color */
    }

    a.active{
        color: #7763C5;
    }

    .burger{
        height:16px;
        cursor: pointer;
        display: none;

        @media (max-width: 500px) {
            display:block;
        }
    }
}